p, h2 {
  margin: 0;
}

.button {
    border: none;
    bottom: 150px;
    top: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    margin: 10;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
